@model IEnumerable<ERPSystem.Models.Client>
@{
    ViewData["Title"] = "Clientes";
}

<div class="d-flex justify-content-between mb-3">
    <h2>Clientes</h2>
    <div>
        <a class="btn btn-success" asp-action="Create">Nuevo Cliente</a>
        @if (User.IsInRole(UserRole.Admin.ToString()))
        {
            <a class="btn btn-secondary" asp-action="InactiveClients">Ver Inactivos</a>
        }
    </div>
</div>

@await Html.PartialAsync("_ClientsTable", Model)