@model IEnumerable<ERPSystem.Models.Provider>
@{
    ViewData["Title"] = "Proveedores";
}

<div class="d-flex justify-content-between mb-3">
    <h2>Proveedores</h2>
    <div>
        <a class="btn btn-success" asp-action="Create">Nuevo Proveedor</a>
        @if (User.IsInRole(UserRole.Admin.ToString()))
        {
            <a class="btn btn-secondary" asp-action="InactiveProviders">Ver Inactivos</a>
        }
    </div>
</div>

@await Html.PartialAsync("_ProvidersTable", Model)
